
// General
$pbTheme    : #550066;

// header 
$headerBg 	: #f1f2f2;

// status bar
$statusText : #ffffff;
$statusBg	: #ed1c24;

// modules
$moduleBorder : #990099;
$moduleBg     : #ffffff;
$moduleHeaderBorder : #acacac;

$moduleBorderAlt : #aa0000;
$moduleBgAlt : #e8e8e8;
$moduleAltColour : #ed1c24;

// Proprty Details
$propertyDetailsTitle : #424242;


$button1Text : #ffffff;
$button1Bg : #aaaaaa;

// Footer
$footerBg : #545353;
$footerText : #ffffff;
